main {
    width: 90%;
    margin: 0 auto;
}

nav {
    margin-bottom: 50px;
}

div.gallery {
    margin: 5px;
    float: left;
    width: 23%;
    padding: 10px;
  } 
  
  div.gallery img {
    width: 350px;
    height: 200px;
    border: 2px solid #131313;
    border-radius: 15px;
    margin-bottom: 30px;
    transition-duration: 0.5s;
    transition-property: transform border;
  }
  
  div.gallery img:hover {
    transform: scale(1.2);
    border: 2px solid white;
  }
  

  
  div.desc {
    padding: 15px;
    padding-top: 40px ;
    text-align: center;
    border: 3px solid #525252;
    margin-top: -35px;
    color: white;
    background-color: #131313d5;
  }

.clear {
    clear: both;
}

@media only screen and (max-width: 1200px) {
    main {
        width: 90%;
    }

    div.gallery {
        width: 30%;
      }
}

@media only screen and (max-width: 800px) {
    div.gallery {
        width: 45%;
      }
}

@media only screen and (max-width: 500px) {
    div.gallery {
        width: 100%;
      }
}

